.App{
  margin-right: 10px ;
  margin-left: 10px;
}

.container h3 {
  color: red;
  margin: 0;
}
p {
  font-size: large ;
  margin: 0%;
  color: black;
}

.App-header {
  background-color: gainsboro;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  width: fit-content;
  height: fit-content;
}

.container img{
  width: 270px;
  height: auto;
}
.container video{
  width: 100%;
  height: auto;
}
.card {
  background-color: white;
  width: 20%;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 10%;
}

.App-link {
  color: #282c34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
